<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Primeros pasos en Tecnología - Blog Cards</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Link a CSS -->    
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
    <!-- Fontawesome Iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

<!-------------------------------------------//
// ---------------- BODY --------------------//
// ------------------------------------------->

  <body class="bg-light">
    <div class="container-fluid">
      <div class="text-center my-5">
        <h1 class="bg-dark text-white">Primeros pasos en Tecnología - Blog Cards con Bootstraps</h1>
        <h2>Últimas noticias en las webs</h2>
        <hr />
      </div>

<!-- Card 1 CV para Tecnología -->      
      <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="imgs/a. CV-Empleo.jpeg" class="img-fluid" />

            <div class="card-body">
              <div class="card-title">
                <h2>Crear CV para Tecnología</h2>
              </div>
              <div class="card-text">
                <p>
                  La mayoría de los empleadores usan tu CV como guía en la entrevista, es una estrategia de todo lo que podrás contar. Resaltá los títulos obtenidos en color, no lo cargues de mucho escrito, sé conciso y  
                  realizar una sola hoja. En formato PDF.
                </p>
              </div>
              <a href="https://zety.es/blog/curriculum-informatico" class="btn btn-outline-primary rounded-0 float-end"
                >Web2</a>
              <a href="https://www.cvmaker.com.ar/ejemplos-de-curriculum/it" class="btn btn-outline-primary rounded-0 float-end"
                >Web1</a>
            </div>
          </div>
        </div>

<!-- Card 2 Perfil Programador -->         
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="imgs/b. Programador.jpeg" class="img-fluid" />

            <div class="card-body">
              <div class="card-title">
                <h2>Perfil Programador</h2>
              </div>
              <div class="card-text">
                <p>
                  Qué implica ser un Programador? FrontEnd+BackEnd= Fullstack. Cuáles son las habilidades? y 
                  los distintos ámbitos 💻? 
                  Lenguajes +demandados= 1.Python · 2.PHP · 3.JavaScript · 4.Java · 5.C#
                </p>
              </div>
              <a href="https://www.instagram.com/p/Cpf-C7-g7Bb" class="btn btn-outline-primary rounded-0 float-end"
                >IG</a>
            </div>
          </div>
        </div>

<!-- Card 3 MET -->         
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="imgs/c. MujeresEnTI.jpeg" class="img-fluid" />

            <div class="card-body">
              <div class="card-title">
                <h2>Mujeres en Tecnologia</h2>
              </div>
              <div class="card-text">
                <p>
                  Ada Lovelace (1815-1852)
                  Sus notas son las primeras en la historia en describir una PC y el 
                  software. Firmó sus trabajos con las iniciales A.A.L., 
                  para ocultar su género y así evitar que censuraran sus investigaciones
                </p>
              </div>
              <a href="https://mujeres360.org/mujeres-destacadas/mujeres-que-revolucionaron-la-tecnologia/" class="btn btn-outline-primary rounded-0 float-end"
                >11 Historias</a>
              <a href="https://www.instagram.com/comunidadmet/" class="btn btn-outline-primary rounded-0 float-end"
              >METs</a>
              <a href="https://www.instagram.com/esachicaqueprograma/" class="btn btn-outline-primary rounded-0 float-end"
              >EsaChicaQP</a>     
              <a href="https://www.instagram.com/chicasprogramadoras/" class="btn btn-outline-primary rounded-0 float-end"
              >ChicasP</a>               
            </div>
          </div>
        </div>

<!-- Card 4 Programación -->         
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="imgs/e. Programacion-para-principiantes.jpg" class="img-fluid" />

            <div class="card-body">
              <div class="card-title">
                <h2>Programación desde 0</h2>
              </div>
              <div class="card-text">
                <p>	
                  Aprende a programar desde tu casa
                </p>
              </div>
              <a href="https://codigofacilito.com/cursos" class="btn btn-outline-primary rounded-0 float-end"
                >CódigoFacilito</a>
                <a href="https://inscripcionesagencia.bue.edu.ar/codoacodo/list" class="btn btn-outline-primary rounded-0 float-end"
                >codo a codo</a>
                <a href="https://app.ed.team/welcome" class="btn btn-outline-primary rounded-0 float-end"
                >EDteam</a>
                <a href="https://infopymes.info/2023/03/como-convertirse-en-programador-en-menos-de-un-ano-5-consejos-para-capacitarse-e-insertarse-rapido-en-el-sector-tecnologico/?fbclid=PAAabzFMBgfgyW-ALF67eu04tR4ugaqOuASM71Jb5AN8yTfDorPrThiOmxNQo" class="btn btn-outline-primary rounded-0 float-end"
                >InfoPymes</a>
            </div>
          </div>
        </div>

<!-- Card 5 Desarrollo Web -->         
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="imgs/d. desarrollo web.jpeg" class="img-fluid" />

            <div class="card-body">
              <div class="card-title">
                <h2>Desarrollo Web</h2>
              </div>
              <div class="card-text">
                <p>
                Cursos gratuitos online
                </p>
              </div>
              <a href="https://learndigital.withgoogle.com/activate/course/web-development-I" class="btn btn-outline-primary rounded-0 float-end"
                >Google Actívate</a
              >
            </div>
          </div>
        </div>

<!-- Card 6 Trabajos Online -->         
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="imgs/f. ganar.webp" class="img-fluid" />

            <div class="card-body">
              <div class="card-title">
                <h2>Trabajos Online</h2>
              </div>
              <div class="card-text">
                <p>
                  Guías: ideas para ganar dinero online y en dólares
                </p>
              </div>
              <a href="https://www.forbesargentina.com/liderazgo/guia-definitiva-27-ideas-ganar-dinero-online-dolares-n29869" class="btn btn-outline-primary rounded-0 float-end"
                >Forbes - 27 ideas</a>
            </div>
          </div>
        </div>

<!-- Card 7 Ya programás? --> 
<div class="col-lg-4 col-md-6 col-sm-12">
  <div class="card mb-5 shadow-sm">
    <img src="imgs/g. Herramientas.jpg" class="img-fluid" />

    <div class="card-body">
      <div class="card-title">
        <h2>Ya programás?</h2>
      </div>
      <div class="card-text">
        <p>
          Herramientas gratuitas
        </p>
      </div>
      <a href="https://leetcode.com/" class="btn btn-outline-primary rounded-0 float-end"
        >leetcode</a>
        <a href="https://www.codechef.com/" class="btn btn-outline-primary rounded-0 float-end"
        >codechef</a>
        <a href="https://www.codecademy.com/?g_network=g&g_productchannel=&g_adid=624951457618&g_locinterest=&g_keyword=codecademy&g_acctid=243-039-7011&g_adtype=&g_keywordid=kwd-41065460761&g_ifcreative=&g_campaign=account&g_locphysical=1000073&g_adgroupid=70492864474&g_productid=&g_source={sourceid}&g_merchantid=&g_placement=&g_partition=&g_campaignid=1726903838&g_ifproduct=&utm_id=t_kwd-41065460761:ag_70492864474:cp_1726903838:n_g:d_c&utm_source=google&utm_medium=paid-search&utm_term=codecademy&utm_campaign=INTL_Brand_Exact&utm_content=624951457618&g_adtype=search&g_acctid=243-039-7011&gclid=Cj0KCQjwk7ugBhDIARIsAGuvgPb57Nr7jq4LBK-Dh7080aM4GbfMOHcQOLaM1iTtvOxJQNHFa5GO6MoaApu2EALw_wcB" class="btn btn-outline-primary rounded-0 float-end"
        >codecademy</a>
        <a href="https://web.dev/?gclid=Cj0KCQjwk7ugBhDIARIsAGuvgPZithxalXLP8NLxFhsXB_p43zKJMbVyUyO0-vco8QzBzMyvOQ-F79gaAg8AEALw_wcB" class="btn btn-outline-primary rounded-0 float-end"
        >Webdeveloper</a>
        <a href="https://es.stackoverflow.com/" class="btn btn-outline-primary rounded-0 float-end"
        >stackoverflow</a>   
        <a href="https://codepen.io/" class="btn btn-outline-primary rounded-0 float-end"
        >codepen</a>          
        
    </div>
  </div>
</div>

<!-- Card 8 Ciber --> 
<div class="col-lg-4 col-md-6 col-sm-12">
  <div class="card mb-5 shadow-sm">
    <img src="./imgs/h. ciberseguridad.jpeg" class="img-fluid" />

    <div class="card-body">
      <div class="card-title">
        <h2>Ciberseguridad</h2>
      </div>
      <div class="card-text">
        <p>
          Cursos gratuitos.
          La ciberseguridad es la práctica de defender las computadoras, los servidores, los dispositivos móviles, las redes y los datos.
        </p>
      </div>
      <a href="https://www.isc2.org/Certifications/CC?filter=featured&searchRoot=A82B5ABE5FF04271998AE8A4B5D7DEFD" class="btn btn-outline-primary rounded-0 float-end"
        >ISC</a>
        <a href="" class="btn btn-outline-primary rounded-0 float-end"
        >2</a>
        <a href="" class="btn btn-outline-primary rounded-0 float-end"
        >3</a>
        <a href="" class="btn btn-outline-primary rounded-0 float-end"
        >4</a>        
    </div>
  </div>
</div>

<!-- Card 9 Páginas Laborales --> 
<div class="col-lg-4 col-md-6 col-sm-12">
  <div class="card mb-5 shadow-sm">
    <img src="./imgs/i. paginas-empleo.jpeg" class="img-fluid" />

    <div class="card-body">
      <div class="card-title">
        <h2>Páginas Laborales</h2>
      </div>
      <div class="card-text">
        <p>
          Más populares en internet. <br> Nacional e internacional. <br> Inglés.
        </p>
      </div>
      <a href="https://www.linkedin.com/feed/" class="btn btn-outline-primary rounded-0 float-end"
        >in</a>
        <a href="" class="btn btn-outline-primary rounded-0 float-end"
        >2</a>
        <a href="" class="btn btn-outline-primary rounded-0 float-end"
        >3</a>
        <a href="" class="btn btn-outline-primary rounded-0 float-end"
        >4</a>        
    </div>
  </div>
</div>
<hr />

<!-------------------------------------------//
// ----------------COMENTARIOS---------------//
// ------------------------------------------->

<!--<section id="app">
  <div class="container-comm">
    <div class="row col-lg-12 col-md-6 col-sm-12">
      <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="comment">
      <p v-for="items in item" v-text="items"></p>
        </div>
        </div>
        </div>
    <div class="row">
      <div class="col-6">
    <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
        <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
      </div>
    </div>
  </div>
</section>-->


<!-------------------------------------------//
// ----------------FOOTER--------------------//
// ------------------------------------------->

<!-- https://mdbootstrap.com/snippets/standard/mdbootstrap/2885140?view=side -->
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid">

  <footer class="bg-dark text-white text-center">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              Sign up for our newsletter</p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.08);">
    Developer by Overflow X - 'Lucrecia Cecilia Roa'
  </div>
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.624);">
    © 2023 Copyright
  </div>
  <!-- Copyright -->
</footer>
  
</div>
<!-- End of .container -->

<!--Botón Arriba-->
<div class="go-top-container redondo">
  <div>
    <button class="go-top-button"><i class="fa-solid fa-arrow-up"></i></button>
  </div>
</div>


<!--Scripts varios-->
<script src="./js/botonArriba.js"></script>

<!-------------------------------------------//
// ----------------SCRIPTS-------------------//
// ------------------------------------------->
<!-- Vue JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<!-- COde -->
<script src='http://code.jquery.com/jquery-latest.js'></script>
<!-- JS -->
<script src='./js/comentarios.js'></script>


</div>
  </body>
</html>
